<?xml version="1.0"?>
<model>
  <name>diff_drive</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Elektron97</name>
    <email>danele.caradonna@gmail.com</email>
  </author>

  <description>
   Migration of the track for line following in ROS2.
  </description>
</model>