<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="car">  
   
    <gazebo>
        <plugin
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">
            
            <left_joint>axle_front_left</left_joint>
            <right_joint>axle_front_right</right_joint>
            
            <wheel_separation>0.6</wheel_separation>
            <wheel_radius>0.25</wheel_radius>

            <max_linear_acceleration>1</max_linear_acceleration>
            <min_linear_acceleration>-1</min_linear_acceleration>
            <max_angular_acceleration>2</max_angular_acceleration>
            <min_angular_acceleration>-2</min_angular_acceleration>
            
            <max_linear_velocity>0.5</max_linear_velocity>
            <min_linear_velocity>-0.5</min_linear_velocity>
            <max_angular_velocity>1</max_angular_velocity>
            <min_angular_velocity>-1</min_angular_velocity>
            
            <!-- Odometry published by DiffDrive -->
            <odom_publish_frequency>30</odom_publish_frequency>

            <tf_topic>/tf</tf_topic>
        </plugin>
        
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
                <topic>joint_states</topic>
                <joint_name>axle_front_left</joint_name>
                <joint_name>axle_front_right</joint_name>
        </plugin>

    </gazebo>

</robot>